
body 
{
    background-color: rgb(255, 249, 215);
}

@font-face {
    font-family: 'AlbertSans';
    src: url('../fonts/AlbertSans-Black.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Original-surfer';
    src: url('../fonts/OriginalSurfer-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Tai-heritage-pro';
    src: url('../fonts/TaiHeritagePro-Regular.ttf') format('truetype');
    font-display: swap;
}

/* NAVIGATION BAR */
nav
{
     font-family:'Original-surfer';
}

nav a:nth-child(odd) 
{
    color: rgb(122, 45, 55);
}

nav a:nth-child(even) 
{
    color: rgb(184, 100, 79);
}

nav
{
   display: flex;
   justify-content: space-evenly;
   font-size: 25px;
}

#logo 
{
    width: 200px;
    height: 125px;
}

#border1
{
    height: 50px;
    width: 1475px;
}

#border2
{
    height: 50px;
    width: 1475px;
}
