/*contacts.css*/

.center
{
    text-align:center;
    padding: 15px;
    color:  rgb(122, 45, 55);
    text-size-adjust: 30px;
}

h2
{
font-family: 'AlbertSans';
}

p
{
font-family: 'Tai-heritage-pro';
}

